<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
</head>
<body>

    <div th:replace="partials/master :: navbar"></div>

    <h1>This is the home page! <span th:text="${total}"></span></h1>

    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.

        User ID: <span th:text="${#authentication.principal.id}"/>
        Username: <span th:text="${#authentication.principal.username}"/>
        Email: <span th:text="${#authentication.principal.email}"/>
    </div>

    <!-- Partials -->

    <div th:replace="partials/master :: footer"></div>

    <div th:include="partials/master :: footer"></div>



</body>
</html>